body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* Specific section background */
    /* background-color: #1b2145;
    background-image: linear-gradient(149deg, #1b2145, #313e7a);  --bgGray: #f5f6f9; */
    /* ackground-color: #e70a3e;
    background-image: linear-gradient(149deg, #a9072d, #e70a3e); */
  --spanGray: #dddddd
  --textBlack: #2e323c;
  --btnRed: #e70a3e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
